body{
margin:0;
font-family:sans-serif;
background:#111;
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:10px;
background:#222;
}

.layout{
display:flex;
}

.player{
flex:3;
padding:10px;
}

.channels{
flex:1;
height:90vh;
overflow:auto;
background:#1a1a1a;
}

.channel{
display:flex;
align-items:center;
padding:8px;
cursor:pointer;
border-bottom:1px solid #333;
}

.channel img{
width:40px;
margin-right:10px;
}

.categories{
padding:10px;
background:#181818;
}

button{
margin-right:5px;
padding:5px 10px;
}